@font-face {
  font-family: "PinyonScript";
  src: url("/public/fonts/PinyonScript-Regular.ttf");
}

@font-face {
  font-family: "Cinzel";
  src: url("/public/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "TenorSans";
  src: url("/public/fonts/TenorSans-Regular.ttf");
}

@font-face {
  font-family: "NewIcon";
  src: url("/public/fonts/New-Icon-Serif.otf");
}

@font-face {
  font-family: "Maharlika";
  src: url("/public/fonts/Maharlika-Regular.ttf");
}

@font-face {
  font-family: "Sloop";
  src: url("/public/fonts/Sloop-ScriptThree.ttf");
}

@font-face {
  font-family: "Frunchy";
  src: url("/public/fonts/Frunchy.ttf");
}

@import "tailwindcss";

@theme {
  --color-maroon: #800020;
  --color-beige: #f3dbb9;
  --color-dark-green: #3e513c;
  --color-dark-grey: #4b5151;
  --font-pinyon: PinyonScript, "serif";
  --font-cinzel: Cinzel, "serif";
  --font-tenor: TenorSans, "sans-serif";
  --font-new-icon: NewIcon, "serif";
  --font-maharlika: Maharlika, "serif";
  --font-sloop: Sloop, "serif";
  --font-frunchy: Frunchy, "serif";
}
